<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-8  offset-lg-2">

				<h2 class="title" style="color:rgb(88, 88, 189)">Please Perform the {{ activity }} activity, {{ name }}</h2>
				
				<img src="{{ url_for('video_feed') }}" >

				<form method="get" action="{{ url_for('thankyou') }}">
					<div class = "button">
					<input type="submit" value="Done" name="Done" style="height:40px; width:500px; background-color: #9dd0f1;">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>


<!-- ********************STYLE******************** -->
<style>
	/* *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins',sans-serif;
} */
        body{
            /* height: 100vh; */
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
		}
		.title{
			margin-bottom: 15px;
			margin-top: 20px;
			text-align: center;
		}
		.button{
			text-align: center;
			margin-top: 8px;
		}
        form .button input:hover{
            transform: scale(0.99);
            background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	}		
</style>



